<div class="content">
    <ng-container *ngFor="let entry of (manifestMap | async)?.toArray()">
      <mat-card *ngIf="entry[1].tags.length > 0">
        <mat-card-content (click)="router.navigateByUrl(entry[0])">
          <img [src]="entry[1].thumb" alt="image" class="image">
          <h2>{{ entry[1].title }}</h2>
          <span>{{ entry[1].time }} min reading</span>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2770026091619544"
     data-ad-slot="9278033332"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>