@import "src/variables.scss";

:host {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1;
  align-items: center;
  display: flex;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;

  @media (max-width: 800px) {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

// Ensure code blocks scroll horizontally
pre {
  display: block !important;
  overflow-x: auto;
}

p {
  word-wrap: break-word !important;
}
