<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div style="display: flex;align-items: center;">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a href="https://byli.dev">
        <img src="/assets/logo.png">
      </a>
    </div>
    <a href="https://github.com/bylidev/byli-cms" style="font-size: 10px;color: white;">Powered by BYLI-CMS</a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer mode="over" #drawer>
    <div class="menu-item">
      <mat-chip-set
        class="example-chip"
        cdkDropList
        cdkDropListOrientation="horizontal">
        <ng-container *ngFor="let item of this.menu | async">
       <mat-chip
         (click)="drawer.toggle();this.router.navigateByUrl('tag/'+item.tag)"
         [ngStyle]="{
                'font-size': item.size === 1 ? 'small' : (item.size > 1 && item.size < 5) ? 'small' : '',
                'background-color': item.size > 1 ? '#cee195' : ''
              }"
         cdkDrag>{{ item.tag }}</mat-chip>
        </ng-container>
      </mat-chip-set>
    </div>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
