<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div style="display: flex;align-items: center;">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a href="https://byli.dev">
        <img src="/assets/logo.png">
      </a>
    </div>
    <a href="https://github.com/bylidev/byli-cms" style="font-size: 10px;color: darkgray;">Powered by BYLI-CMS</a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer mode="side" #drawer>
    <div class="menu-item">
      <ng-container *ngFor="let item of this.menu | async">
        <span mat-menu-item (click)="drawer.toggle();this.router.navigateByUrl('tag/'+item.tag)">
          <span> {{item.tag}} <mat-icon style="color: orange" *ngIf="item.size>5 && item.size<99999">trending_up</mat-icon></span>

        </span>
      </ng-container>
    </div>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
