.header {
  display: flex;
  flex-direction: column;

  .logo-container {
    display: flex;
    align-items: center;

    a {
      display: block;
      transition: opacity 0.15s ease;

      &:hover {
        opacity: 0.8;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}
