@use '@angular/material' as mat;
@import 'src/app/styles/arg-m3-theme.scss';

html{
  @include mat.core-theme($dark-theme-1);
  @include mat.button-theme($dark-theme-1);
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    line-height: 30px;
}
img{
  width: 100%;
}
p{
  word-wrap: break-word;
}
h1{
  line-height: 50px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 15px;
}

::-webkit-scrollbar-track-piece  {
  background-color:#bdc3c7;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: grey;
}
a {
  text-decoration: none;
}

.mat-drawer-container {
  background: white !important;
  overflow: unset !important;
}
